APP_NAME=ow-redis-serverless
CDK_DEPLOY_REGION=ap-southeast-1
ENVIRONMENT=development

OWNER=OPENWORKSPACE

VPC_ID=vpc-xxxxxxxx
VPC_SUBNET_TYPE=PRIVATE_ISOLATED
VPC_PRIVATE_SUBNET_IDS=
VPC_PRIVATE_SUBNET_AZS=
VPC_PRIVATE_SUBNET_ROUTE_TABLE_IDS=

OPENSEARCH_USER_NAME=
OPENSEARCH_USER_PASSWORD=
